:root {
  --primary-highlight: #84087e;
  --primary-color: #515151;
  --primary-bg: white;

  font-size: 60%;
}

html,
body,
#app {
  margin: 0;
  padding: 0;

  height: 100vh;

  font-family: "Rubik", "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
